<html>

	<body>

		<h1>Team Player List
		</h1>

		<div class="list_shell">
			<%@players.each do |player| %>
				<div class="list_part">
					<h2>Name
					</h2>
					<h3><%=player.name%>
					</h3>
				</div>
				<div class="list_part">
					<h2>Postion
					</h2>
					<h3><%=player.position%>
					</h3>
				</div>
				<div class="list_part">
					<h2>Longest Throw
					</h2>
					<h3><%=player.longest_throw%>
					</h3>
				</div>
				<div class="list_part">
					<h2>Longest Run
					</h2>
					<h3><%=player.longest_run %>
					</h3>
				</div>
			<%end%>
		</div>

		<h1>Player Form
		</h1>

		<div class="form_shell">
			<h3> Name:
			</h3>
			<input type="text" name="name">
			<h3> Position:
			</h3>
			<input class="position" type="text" name="position">
			<h3 class="longest_throw_h3 hide"> Longest Throw:
			</h3>
			<input class="longest_throw hide" type="text" name="longest_throw">
			<h3 class="longest_run_h3 hide"> Longest Run:
			</h3>
			<input class="longest_run hide" type="text" name="longest_run">
			<h4> Press 'Enter' When Finished </h4>

		</div>

		<!-- </br> -->

		<!-- <button name="player_info" class="player_button">Submit</button> -->

	</body>

</html>