<html>

	<body>

		<h1>Player Form
		</h1>

		<div class="form_shell">
			<h3> Name:
			</h3>
			<input type="text" name="name">
			<h3> Position:
			</h3>
			<input class="position" type="text" name="position">
			<h3 class="longest_throw_h3 hide"> Longest Throw:
			</h3>
			<input class="longest_throw hide" type="text" name="longest_throw">
			<h3 class="longest_run_h3 hide"> Longest Run:
			</h3>
			<input class="longest_run hide" type="text" name="longest_run">
			<h4> Press 'Enter' When Finished </h4>

		</div>

		<!-- </br> -->

		<!-- <button name="player_info" class="player_button">Submit</button> -->

	</body>

</html>