// Place all the styles related to the player controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {background-color: gray;}
.hide {display: none;}
h3 {color: navy;}
.player_button {background-color: red; color: navy; font-size: 18px; border: solid red 2px; box-shadow: 5px, 5px, 5px;}
.player_button:active {background-color: #9e110c; color: black; border: none; box-shadow: none;}
h1 {color: navy; font-size: 48px;}
.list_shell {width: 90%; margin-left: 10%; margin-right: 10%; display: inline-block;}
.list_part {width: 20%; position: relative; display: inline-block; margin-top: 5%; padding-top: 1%;}